.container {
    max-width: 950px;
    margin: 0 auto;
    padding: 0 10px;
}

img {
    width: 100%;
}

.title {
	// font-size: 32px;
    font-size: calc( (100vw - 320px)/(1280 - 320) * (32 - 24) + 24px);
	font-weight: 600;
	font-family: 'Roboto', sans-serif;
	color: #000000;
	text-align: center;
	padding-top: 90px;
}

.blog-article:after,
.blog__list1::after,
.blog__list2::after,
.projects-list::after,
.projects__item-top::after,
.projects__item-left::after,
.projects__item-right::after,
.projects__item-bottom::after

{
    display: table;
    clear: both;
    overflow: hidden;

    content: '';
}

a {
    text-decoration: none;
}


