.container {
    max-width: 950px;
    margin: 0 auto;
    padding: 0 10px;
}

img {
    width: 100%;
}

.title {
	// font-size: 32px;
    font-size: calc( (100vw - 320px)/(1280 - 320) * (32 - 24) + 24px);
	font-weight: 600;
	font-family: 'Roboto', sans-serif;
	color: #000000;
	text-align: center;
	padding-top: 90px;
}

.blog-article:after,
.blog__list1::after,
.blog__list2::after,
.projects-list::after,
.projects__item-top::after,
.projects__item-left::after,
.projects__item-right::after,
.projects__item-bottom::after

{
    display: table;
    clear: both;
    overflow: hidden;

    content: '';
}

a {
    text-decoration: none;
}


.border-line {
  position: absolute;
  display: block;
  background-color: #58c934;
  opacity: 0;
  
  -webkit-transition-property: width, height;
          transition-property: width, height;

  -webkit-transition-duration: 0s;
          transition-duration: 0s;

  -webkit-transition-delay: 0s;
          transition-delay: 0s;

  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

.touch .border-line {
  -webkit-transition: none !important;
          transition: none !important;
}

span:hover .border-line,
span:focus .border-line {
  opacity: 1;

  -webkit-transition-duration: .4s;
          transition-duration: .4s;
}

.border-line-1,
.border-line-3 {
  height: 6px;
  width: 0;
}

span:hover .border-line-1,
span:focus .border-line-1,
span:hover .border-line-3,
span:focus .border-line-3 {
  width: 100%;
}

.border-line-2,
.border-line-4 {
  height: 0;
  width: 6px;
}

span:hover .border-line-2,
span:focus .border-line-2,
span:hover .border-line-4,
span:focus .border-line-4 {
  height: 100%;
}

.border-line-1 {
  top: 0;
  left: 0;
}

span:hover .border-line-1,
span:focus .border-line-1 {
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

.border-line-2 {
  top: 0;
  right: 0;
}

span:hover .border-line-2,
span:focus .border-line-2 {
  -webkit-transition-delay: .4s;
          transition-delay: .4s;
}

.border-line-3 {
  bottom: 0;
  right: 0;
}

span:hover .border-line-3,
span:focus .border-line-3 {
  -webkit-transition-delay: .8s;
          transition-delay: .8s;
}

.border-line-4 {
  left: 0;
  bottom: 0;
}

span:hover .border-line-4,
span:focus .border-line-4 {
  -webkit-transition-delay: 1.2s;
          transition-delay: 1.2s;
}

.border-block .border-line {
  opacity: 1;

  -webkit-transition-duration: .4s;
          transition-duration: .4s;
}

.border-block .border-line-1,
.border-block .border-line-3 {
  width: 100%;
}

.border-block .border-line-2,
.border-block .border-line-4 {
  height: 100%;
}

.border-block .border-line-1 {
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

.border-block .border-line-2 {
  -webkit-transition-delay: .4s;
          transition-delay: .4s;
}

.border-block .border-line-3 {
  -webkit-transition-delay: .8s;
          transition-delay: .8s;
}

.border-block .border-line-4 {
  -webkit-transition-delay: 1.2s;
          transition-delay: 1.2s;
}

.border-block.hover .border-line-1,
.border-block.hover .border-line-3 {
  width: 0;
  -webkit-transition: none;
          transition: none;
}

.border-block.hover .border-line-2,
.border-block.hover .border-line-4 {
  height: 0;
  -webkit-transition: none;
          transition: none;
}

.csstransitions .section-reveal {
  opacity: 0;

  -webkit-transition: opacity ease 1s;
          transition: opacity ease 1s;
}

.csstransitions .section-reveal.in-viewport {
  opacity: 1;
}


