
/*
  ====================
  Header
  ====================
*/
.main-header {
    position: relative;

    padding-bottom: 100px;

    background: url(../img/bg-header-min.jpg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;

    -webkit-clip-path: polygon(100% 0, 100% 84%, 66% 100%, 0 84%, 0 0);
            clip-path: polygon(100% 0, 100% 84%, 66% 100%, 0 84%, 0 0);
}

.main-header::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    content: '';

    background-color: rgba(255, 255, 255, .9);
}

header {
    position: absolute;
    left: 3%;

    padding-top: 20px;
    padding-left: 2%;
}

.toggle-mnu {
    position: fixed;
    z-index: 1000;
    top: 20px;
    right: 20px;

    width: 18px;
    height: 20px;

    border: none;
    background: none;
    outline: none;
    
    cursor: pointer;
}

.toggle-mnu span {
    display: block;
}

.sandwich {
    position: absolute;
    z-index: 200;
    top: 8px;
    right: 0;
    bottom: 0;
    left: 0;

    width: 18px;
    height: 20px;
    margin: auto;
}

.sw__topper {
    position: relative;
    top: 0;

    display: block;

    width: 18px;
    height: 2px;

    -webkit-transition: -webkit-transform .5s, top .2s;
            transition:         transform .5s, top .2s;

    border: none;
    border-radius: 4px 4px 4px 4px;
    background: black;
}

svg path {
    fill: #e0e0e0;
}

.sw__bottom {
    position: relative;
    top: 4px;

    width: 18px;
    height: 2px;

    -webkit-transition: -webkit-transform .5s, top .2s;
            transition:         transform .5s, top .2s;
    -webkit-transition-delay: .2s, 0s;
            transition-delay: .2s, 0s;

    border: none;
    border-radius: 4px 4px 4px 4px;
    background: black;
}

.sw__footer {
    position: relative;
    top: 8px;

    width: 18px;
    height: 2px;

    -webkit-transition: all .5s;
            transition: all .5s;
    -webkit-transition-delay: .1s;
            transition-delay: .1s;

    border: none;
    border-radius: 4px 4px 4px 4px;
    background: black;
}

.sandwich.active .sw__topper {
    top: 8px;

    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
}

.sandwich.active .sw__bottom {
    top: 6px;

    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
}

.sandwich.active .sw__footer {
    top: 0;

    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg);

    opacity: 0;
}

.top-mnu {
    position: fixed;
    z-index: 50;
    top: 0;
    left: 0;

    display: none;

    width: 100%;
    height: 100%;

    background-color: rgba(255, 255, 255, .9);
}

.top-mnu ul,
.top-mnu li {
    margin: 0;
    padding: 0;

    list-style-type: none;
}

.top-mnu ul {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    left: 0;
    right: 0;

    -webkit-animation-duration: .01s;
            animation-duration: .01s;
    text-align: center;
}

.top-mnu ul li:nth-child(1) a {
    -webkit-animation-delay: 0;
            animation-delay: 0;
}

.top-mnu ul li:nth-child(2) a {
    -webkit-animation-delay: .1s;
            animation-delay: .1s;
}

.top-mnu ul li:nth-child(3) a {
    -webkit-animation-delay: .2s;
            animation-delay: .2s;
}

.top-mnu ul li:nth-child(4) a {
    -webkit-animation-delay: .3s;
            animation-delay: .3s;
}

.top-mnu ul a {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 18px;

    position: relative;

    display: block;

    height: 60px;

    text-decoration: none;
    text-transform: uppercase;

    color: #000;
    outline: none;
}

.top-mnu ul a:hover {

    color: #58c934;
    
}

.top-mnu ul a span {
    position: relative;
    top: -40px;
    left: 0;

    display: block;

    height: 100%;

    -webkit-transition: all .5s ease;
            transition: all .5s ease;
}


.header-slides {
    position: absolute;
    top: 25%;
}


.slider {
    position: relative;
    right: -50%;

    width: 34%;
    margin-bottom: 100px;
    padding: 70px 2% 0;
}

.slider::before {
    position: absolute;
    top: 59px;
    left: -5%;
    
    box-sizing: border-box;

    width: 100%;
    height: 100%;

    content: '';

    border: 6px #58c934 solid;
}


.slider li {

    padding-right: 5%;
    
}

.slider h2 {
    font-family: 'Roboto', sans-serif;
    font-size: calc( (100vw - 320px)/(1280 - 320) * (50 - 42) + 42px);
    line-height: 1.2;

    position: relative;

    margin-left: -116px;
    padding: 28px 1% 30px;
}

.slider strong {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    line-height: 1.5;
    color: #58c934;
    position: absolute;
    left: -5%;
    top: 22%;
}

.slider p {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-size: calc( (100vw - 320px)/(1280 - 320) * (14 - 13) + 13px);
    line-height: 1.5;

    padding-bottom: 20px;
}

.slider a {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: #000;
    text-decoration: none;
    position: relative;
}

.slider a::after {
    position: absolute;
    top: 6px;
    right: -16%;

    content: '';

    width: 0;
    height: 0;
    border-top: 4px solid transparent;
    border-left: 7px solid #58c934;
    border-bottom: 4px solid transparent;
}

.slider a:hover::after {
    width: 0;
    height: 0;
    border-top: 4px solid transparent;
    border-left: 7px solid #000;
    border-bottom: 4px solid transparent;
}


.slider span::after {

    position: absolute;
    left: -24%;
    bottom: -92px;
    
    width: 23px;
    height: 30px;
    
    content: '';
    
    background: url(../img/scroll.png);
    background-repeat: no-repeat;
    
}


.w3-section {
    position: absolute;
right: 2%;
bottom: 18%;
cursor: pointer;

}

.w3-section a {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-size: calc( (100vw - 320px)/(1280 - 320) * (14 - 13) + 13px);

    margin-right: 29px;

    text-transform: uppercase;
}

.slider-number {
    position: absolute;
    top: 30%;
    left: 5%;
}


.slider-number li {
    padding-bottom: 15px;
}

.slider-number a {
    font-family: 'Roboto', sans-serif;

    display: block;
}

.number-green {
    font-family: 'Roboto', sans-serif;
    font-size: calc( (100vw - 320px)/(1280 - 320) * (60 - 48) + 48px);
    font-weight: 600;

    margin-left: 48%;

    color: #58c934;
}

.number-green::before {
    position: absolute;
    left: 0;

    width: 35px;
    height: 2px;

    content: '';

    background: url(../img/line.png);
    background-repeat: no-repeat;
}

/*
  ====================
  Projects
  ====================
*/

.projects {
    padding-bottom: 50px;
   
}

.projects-list {
    
    padding: 2%;
}

.projects-title {
    padding-bottom: 70px;      
}

.projects__item-top {
    margin-bottom: 50px;
}

.projects__text-top {
    float: left;
    
    box-sizing: border-box;

    width: 43%;
    padding: 5% 0 2% 20%;
}


.projects__title-top {
    font-family: 'Roboto', sans-serif;
    font-size: calc( (100vw - 320px)/(1280 - 320) * (18 - 14) + 14px);

    font-weight: 600;
    line-height: 1.5;

    position: relative;

    padding-bottom: 30px;
}


.projects__title-top::after {
    position: absolute;
    bottom: 20px;
    left: 1%;

    width: 120%;
    height: 2px;

    content: '';

    background: url(../img/horizontal-line.png);
    background-repeat: no-repeat;
    z-index: 1;
}

.projects__paragraph-top {
    font-family: 'Roboto', sans-serif;
    font-size: calc( (100vw - 320px)/(1280 - 320) * (14 - 12) + 12px);
    line-height: 1.5;

    padding-bottom: 15px;
}


.projects__link {
    font-family: 'Roboto', sans-serif;
    font-size: calc( (100vw - 320px)/(1280 - 320) * (14 - 12) + 12px);
    line-height: 1.5;

    position: relative;

    text-decoration: none;

    color: #000;
}


.projects__link::after {
    position: absolute;
    top: 5px;
    right: -15%;

    content: '';
    
    border-top: 4px solid transparent;
    border-left: 7px solid #58c934;
    border-bottom: 4px solid transparent;
}


.projects__img-top {
    float: left;

    width: 55%;
    padding-left: 2%;
}

.projects__item-top {
    position: relative;
}

.sp-projects .project__line{
  display: block;
  position: absolute;
  top: 8%;
  left: 5%;
  right: 5%;
  bottom: -25px;
  z-index: 2;
}

.sp-projects .project__line-vertical{
    display: block;
    position: absolute;
    top: -5%;
    left: -11%;
    right: 36%;
    bottom: 5%;
    z-index: 2;
}

.sp-projects .project__line:hover,
.sp-projects .project__line:focus {
  color: #58c934;
}

.projects__img-top img {
    width: 100%;  
} 

.projects__item-left {
    position: relative;
    top: 50px;
    left: 9%;

    float: left;

    width: 50%;
    padding-bottom: 70px;
    margin-bottom: 70px;
}

.projects__item-left:hover .projects__link::after,
.projects__item-right:hover .projects__link::after,
.projects__item-top:hover .projects__link::after,
.projects__item-bottom:hover .projects__link::after {
    width: 0;
    height: 0;
    border-top: 4px solid transparent;
    border-left: 7px solid black;
    border-bottom: 4px solid transparent;
}

.projects__img-left img {
    width: 70%;
}

.projects__text-left {
    box-sizing: border-box;

    width: 50%;
    padding: 2% 2% 5% 13%;
}


.projects__paragraph-left {
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    
    font-size: calc( (100vw - 320px)/(1280 - 320) * (14 - 12) + 12px);

    padding-bottom: 20px;
}


.projects__title-left {
    font-family: 'Roboto', sans-serif;
    font-size: calc( (100vw - 320px)/(1280 - 320) * (18 - 14) + 14px);
    font-weight: 600;
    line-height: 1.5;

    position: relative;
    padding-bottom: 15px;
}

.projects__title-left::before {
    position: absolute;
    bottom: -111px;
    left: -7%;


    width: 2px;
    height: 450%;

    content: '';

    background: url(../img/vertical-line.png);
    background-repeat: no-repeat;
}

.projects__item-right {
    position: relative;
    top: 102px;
    left: 2%;

    float: left;

    width: 50%;
}

.projects__title-right {
    font-family: 'Roboto', sans-serif;
    font-size: calc( (100vw - 320px)/(1280 - 320) * (18 - 14) + 14px);
    font-weight: 600;
    line-height: 1.5;

    position: relative;
    padding-bottom: 15px;
}

.projects__title-right::after {
    position: absolute;
    left: -9%;
    top: 3px;

    width: 2px;
    height: 450%;

    content: '';

    background: url(../img/vertical-line.png);
    background-repeat: no-repeat;
    z-index: 1;
}

.projects__img-right img {
   width: 70%;
}

.projects__text-right {
    width: 50%;
    padding: 5% 2% 5% 14%;
    
    box-sizing: border-box;
}

.projects__paragraph-right {

    font-family: 'Roboto', sans-serif;
    font-size: calc( (100vw - 320px)/(1280 - 320) * (14 - 12) + 12px);
    line-height: 1.5;
    
    padding-bottom: 20px;
      
}

.projects__item-bottom {
    clear: both;
    position: relative;

    margin-bottom: 70px;
    padding-bottom 20px;
}

.projects__text-bottom {
    float: left;
    
    box-sizing: border-box;

    width: 43%;
    padding: 5% 20% 0 0;
}

.projects__title-bottom {
    font-family: 'Roboto', sans-serif;
    font-size: calc( (100vw - 320px)/(1280 - 320) * (18 - 14) + 14px);
    font-weight: 600;
    line-height: 1.5;

    position: relative;

    padding-bottom: 30px;

    text-align: right;
}


.projects__title-bottom::after {
    position: absolute;
    right: 1%;
    bottom: 20px;

    width: 140%;
    height: 2px;

    content: '';

    background: url(../img/horizontal-line.png);
    background-repeat: no-repeat;
}


.projects__paragraph-bottom{
    font-family: 'Roboto', sans-serif;
    font-size: calc( (100vw - 320px)/(1280 - 320) * (14 - 12) + 12px);
    line-height: 1.5;
    
    padding-bottom: 15px;     
}



.projects__img-bottom {
    float: left;

    width: 55%;
    padding-right: 2%;
}

.projects__img-bottom img {
    width: 100%;  
}

/*
  ====================
  Team
  ====================
*/

.team {
    text-align: center;
    padding: 5% 8%;

    background-color: #f3f3f3;

    -webkit-clip-path: polygon(30% 0, 100% 10%, 100% 90%, 70% 100%, 0 90%, 0 10%);
            clip-path: polygon(30% 0, 100% 10%, 100% 90%, 70% 100%, 0 90%, 0 10%);
}



.team p {
    font-family: 'Roboto', sans-serif;
    font-size: calc( (100vw - 320px)/(1280 - 320) * (18 - 10) + 10px);
    line-height: 1.5;

    padding: 30px 1%;
}

.team-list {
    font-size: 0;

    padding-bottom: 100px;
}

.team-list h6 {
    font-family: 'Roboto', sans-serif;
    font-size: calc( (100vw - 320px)/(1280 - 320) * (18 - 10) + 10px);
    font-weight: 600;
    line-height: 1.5;

    padding: 15px 1% 5px;
}

.team-list p {

    padding: 0 1%;
}

.team__item {
    font-size: 14px;

    position: relative;

    display: inline-block;

    width: 24.33%;
    margin: 0 2%;
    padding: 1% 2%;

    text-align: center;
}


.sp-item:hover  {
  width: 100%;

  -webkit-transition: width ease-out .4s;
          transition: width ease-out .4s;
}

.sp-item span {
  display: block;
  position: absolute;
  left: 10%;
  top: -15px;
  right: -10%;
  bottom: 0;
  z-index: 2;
}

.sp-item span:hover,
.sp-item span:focus {
  color: #58c934;
}

/*
  ====================
  Blog
  ====================
*/

.blog {
    padding-bottom: 50px;
}

.blog h3{
    padding-bottom: 50px;
}

.blog-article {
    margin-bottom: 40px;
}

.blog__img-left {
    box-sizing: border-box;
    
    position: relative;

    float: left;

    width: 50%;
    margin-right: 3%;
    padding: 40px 1%;
}

.sp__blog-left span {
  display: block;
  position: absolute;
  top: 0;
  left: 13%;
  right: 24%;
  bottom: 78px;
  z-index: 2;
}

.sp__blog-left span:hover,
.sp__blog-left span:focus {
  color: #58c934;
}

.blog__list1 {
    box-sizing: border-box;
    
    float: left;

    width: 47%;
    padding: 2px 19% 2px 0;
}

.blog__img-left figcaption {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-size: calc( (100vw - 320px)/(1280 - 320) * (18 - 14) + 14px);
    font-weight: 600;
    line-height: 1.5;

    position: relative;

    padding-bottom: 20px;
    padding-left: 26%;
    text-align: left;
}

.blog__img-left::before {
    position: absolute;
    top: 46px;
    left: 25%;

    width: 2px;
    height: 50%;

    content: '';

    background: url(../img/vertical-line.png);
    background-repeat: no-repeat;
}

.blog__img-left img {
    width: 65%;
    padding: 1% 18%;
}

.blog__item {
    padding-bottom: 40px;
}

.blog__title {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.5;

    padding-bottom: 20px;
}

.blog_title-top {
    padding-top: 40px;
}

.blog__paragraph {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 1.5;

    padding-bottom: 15px;
}

.blog__link {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 1.5;

    position: relative;

    text-decoration: none;

    color: #000;
    cursor: pointer;
}

.blog__link::after {
    position: absolute;
    top: 6px;
    right: -29px;

    content: '';

    width: 0;
    height: 0;
    border-top: 4px solid transparent;
    border-left: 7px solid #58c934;
    border-bottom: 4px solid transparent;
}

.blog__link:hover::after {
    width: 0;
    height: 0;
    border-top: 4px solid transparent;
    border-left: 7px solid #000;
    border-bottom: 4px solid transparent;
}

.blog__link::before {
    position: absolute;
    top: 24px;

    width: 97px;
    height: 2px;

    content: '';

    background: url(../img/line_a.png);
    background-repeat: no-repeat;
}

.blog__list2 {
    box-sizing: border-box;
    
    float: left;

    width: 50%;
    padding: 6px 8% 2px 16%;
}

.blog__img-right {
    box-sizing: border-box;

    position: relative;

    float: right;

    width: 50%;
    padding: 40px 1%;
}

.blog__img-right img {
    width: 65%;
    padding: 1% 4%;
}

.blog__img-right figcaption {
    font-family: 'Roboto', sans-serif;
    font-size: calc( (100vw - 320px)/(1280 - 320) * (18 - 14) + 14px);
    font-weight: 600;
    line-height: 1.5;

    padding: 0 39% 20px 0;

    text-align: right;
}

.sp__blog-right span {
  display: block;
  position: absolute;
  top: 0;
  left: 11%;
  right: 24%;
  bottom: 78px;
  z-index: 2;
}

.sp__blog-right span:hover,
.sp__blog-right span:focus {
  color: #58c934;
}

.blog__img-right::before {
    position: absolute;
    right: 38%;

    width: 2px;
    height: 50%;

    content: '';

    background: url(../img/vertical-line.png);
    background-repeat: no-repeat;
}

.btn {
    font-family: 'Roboto', sans-serif;
    font-size: calc( (100vw - 320px)/(1280 - 320) * (20 - 14) + 14px);

    position: relative;


    display: block;

    padding: 8px 16% 30px 5%;
    margin: 0 auto;

    cursor: pointer;

    border: none;
    background-color: #f3f3f3;
}

.btn::before {
    box-sizing: border-box;
    
    position: absolute;
    top: -12px;
    left: -11%;

    width: 100%;
    height: 100%;

    content: '';

    border: 6px #58c934 solid;
}

.btn span {
    position: relative;

    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 1.5;
}

.btn span::after {
    position: absolute;
    top: 7px;
    right: -21%;
    
    content: '';

    width: 0;
    height: 0;
    border-top: 4px solid transparent;
    border-left: 7px solid #58c934;
    border-bottom: 4px solid transparent;
}

.btn span:hover::after {
    width: 0;
    height: 0;
    border-top: 4px solid transparent;
    border-left: 7px solid #000;
    border-bottom: 4px solid transparent;
}


/*
  ====================
  Footer
  ====================
*/

footer {
    background-color: #f3f3f3;

    -webkit-clip-path: polygon(35% 0, 100% 10%, 100% 100%, 0 100%, 0 14%);
            clip-path: polygon(35% 0, 100% 10%, 100% 100%, 0 100%, 0 14%);
}

footer h3 {
    padding-bottom: 70px;
}

form {

    margin: 0 auto;
}

.form_lable {
    font-family: 'Roboto', sans-serif;
    font-size: calc( (100vw - 320px)/(1280 - 320) * (18 - 14) + 14px);
    font-weight: 600;
    line-height: 1.5;

    padding-right: 2%;
    vertical-align: top;
    display: inline-block;
}

fieldset {
    display: none;
}
#step_1 {
    display: block;
}

.form-content {
    margin-bottom: 20px;

    text-align: center;    
}

#first_name,
#email {
    width: 45%;

    border: none;
    border-bottom: 2px solid #58c934;
    background: none;
    outline: none;
    color: #000;
    height: 30px;
    font-size: 14px;
    padding: 0;
    // transition:0.2s ease all; 
    // -moz-transition:0.2s ease all; 
    // -webkit-transition:0.2s ease all;
}
#first_name:focus,
#email:focus,
textarea:focus {
    outline: none;
    border-color: #000;  
     transition:0.2s ease all; 
    -moz-transition:0.2s ease all; 
    -webkit-transition:0.2s ease all;
}

.fff {
    height: 30px;
}

.bar    { 
    position:relative; 
    display:block; 
    width: 46%;
    left: 8%; 
}
input:focus ~ .bar:before, input:focus ~ .bar:after,
textarea:focus ~ .bar-text:before, textarea:focus ~ .bar-text:after {
  width:100%;
} 
// .bar:before, .bar:after {
//   content:'';
//   height: 2px; 
//   width: 0;
//   bottom: 0; 
//   position:absolute;
//   background: #000; 
//   transition:0.2s ease all; 
//   -moz-transition:0.2s ease all; 
//   -webkit-transition:0.2s ease all;
// }

.form__input {
    font-family: 'Roboto', sans-serif;
    font-size: calc( (100vw - 320px)/(1280 - 320) * (18 - 14) + 14px);
    font-weight: 600;
    line-height: 1.5;
    cursor: pointer;
    background: none;
    border: none;
    position: relative;
    margin: 40px 0 80px;
    outline: none;  
}



textarea {
    width: 45%;
    position: relative;

    border: none;
    border-bottom: 2px solid #58c934;
    background: none;
    outline: none;
    color: #000;
    font-size: 14px;
    resize: none;
    line-height: 30px;
    padding: 0;
}
.bar-text    { 
    position:relative; 
    display:block; 
    width: 46%;
    left: 9%;
}




// .bar-text:before, .bar-text:after {
//     content:'';
//     height: 2px; 
//     width:0;
//     bottom: 3px; 
//     position:absolute;
//     background: #000; 
//     transition:0.2s ease all; 
//     -moz-transition:0.2s ease all; 
//     -webkit-transition:0.2s ease all;
    
// }


.form-btn,
.form__btn-submit {
    position: relative;
    right: -30%;

}

.form-btn::before,
.form__btn-submit::before {
    position: absolute;
    top: 27px;
    
    content: '';
    background: url(../img/btn-line.png);
    width: 97px;
    height: 2px;
}

.form-btn::after {
    position: absolute;
    top: 9px;
    right: -50px;

    content: '';

    width: 0;
    height: 0;
    border-top: 4px solid transparent;
    border-left: 7px solid #58c934;
    border-bottom: 4px solid transparent;
}
.form-btn:hover::after {
    width: 0;
    height: 0;
    border-top: 4px solid transparent;
    border-left: 7px solid #000;
    border-bottom: 4px solid transparent;
    
}

.footer__nav {
    // padding: 30px 1%;

    text-align: center;
}

.footer__nav a {
    vertical-align: middle;
    text-decoration: none;
    cursor: pointer;
}

.footer__nav img {
    width: 41px;
    height: 26px;
}

.footer__paragraph {
    font-family: 'Roboto', sans-serif;
    font-size: calc( (100vw - 320px)/(1280 - 320) * (14 - 12) + 12px);
    line-height: 1.5;

    padding: 15px 2%;

    text-align: center;
}

/*
  ====================
  Media
  ====================
*/

@media screen and (max-width: 768px) {

    .projects__link::after {
        top: 6px;
    }

    .sp-item span {
        left: 9%;
    }

    .blog__img-left  {

        width: 100%;
    }

    .blog__list1 {
        
        width: 100%;
        padding: 2px 16% 2px 33%;
    }

    .blog__img-right {

        width: 100%; 
        float: right;
    }
    .blog__list2 {
        
        width: 100%;
        padding: 2px 33% 2px 16%;
    }

    .blog__img-right img {

    padding: 1% 15%;
    
    }

    .blog__img-right:hover::after {
        
        left: 22%;
    }

    .blog__img-right::before {
        right: 28%;
    }

    .blog__img-right figcaption {
        padding: 0 29% 20px 0;
    }

}


@media screen and (min-width: 721px) { 
    
    .team-slider {
        display: none;
    }


}

@media screen and (max-width: 720px) {

    .slider p {
        padding-bottom: 15px;
    }
    .slider {
        right: -39%;
        width: 50%;
    }

    .slider span::after {
        bottom: -100px;
    }

    .projects__text-top {
        box-sizing: border-box;
        width: 100%;
        padding: 5% 25% 2% 20%;
        float: none;
    }
    .projects__img-top {
        width: 100%;
        float: none;
        padding-left: 0;
    }
    .projects__img-top img {
        width: 85%;
    }
    
    .sp-projects .project__line {

    top: 3%;
    left: 7%;
    right: 3%;
    bottom: 15px;

    }

    .projects__item-left {    
        left: 0;
        padding-bottom: 36px;
        margin-bottom: 0;
        float: none;
        width: 100%;
        top: 0;
        box-sizing: border-box;
        padding-left: 20%;
    
    }
    .projects__text-left,
    .projects__text-right {
        box-sizing: border-box;
        width: 100%;
        padding: 2% 48% 5% 13%;  
    }

    .projects__title-right::after,
    .projects__title-left::after {
        left: -5%;
    }
    .projects__img-left,
    .projects__img-right{
        width: 100%;
    }
    .projects__item-right {
        left: 0;
        margin-bottom: 70px;
        padding-top: 10%;
        float: none;
        width: 100%;
        top: 0;
        box-sizing: border-box;
        padding-left: 20%;
    }
    .projects__img-right img,
    .projects__img-left img  {
        width: 70%;
    }

    .sp-projects .project__line-vertical {

        top: 3%;
        left: 23%;
        right: 18%;
        bottom: 3%;

    }
    .projects__item-bottom {
        margin-bottom: 70px;
        padding-bottom: 16px;
    }

   .projects__text-bottom {
        box-sizing: border-box;
        width: 100%;
        padding: 5% 25% 2% 20%;
        float: none;
    }
    .projects__img-bottom {
        width: 100%;
        padding-left: 0;
        float: none;
    }
    .projects__img-bottom img {
        width: 85%;
    }
    .projects__title-bottom  {
        text-align: left;
    }
    .projects__item-bottom:hover::before {
        top: 3%;
        left: 5%;
        bottom: 13px;
    }
    .projects__title-bottom::after { 
        width: 100%;
    }

    .team-list {
        display: none;
    }

    .team-slider {
        font-size: 14px;
        padding-bottom: 50px;
        position: relative;
    }

    .team__item-slider {
        font-size: 14px;
        position: relative;
        width: 50%;
        margin: 0 auto;
        padding: 1% 2%;
        text-align: center;
    }
    .team__item-slider span {
        
    }
    
    .team-btn {
        font-size: 30px;
        color: #58c934;
        position: absolute;
        cursor: pointer;
    }
    .team-btn-right {
        top: 30%;
        right: 2%;
    }
    .team-btn-left {
        top: 30%;
        left: 2%;
    }

    .team__item-slider h6 {
        font-family: 'Roboto', sans-serif;
        font-size: calc( (100vw - 320px)/(1280 - 320) * (18 - 10) + 12px);
        font-weight: 600;
        line-height: 1.5;

        padding: 15px 1% 5px;
    }

    .team__item-slider p {
        font-family: 'Roboto', sans-serif;
        
        font-size: calc( (100vw - 320px)/(1280 - 320) * (18 - 10) + 12px);
        line-height: 1.5;

        padding: 0 1%;
    }

    .sp__blog-left span {

        top: 6px;
        left: 13%;
        right: 24%;
        bottom: 63px;

    }
    .sp__blog-right span {

        top: 3px;
        left: 11%;
        right: 24%;
        bottom: 63px
    }

    .bar {
        width: 47%;
    }
    .bar-text {
        width: 48%;
        left: 10%;
    }

}

@media screen and (max-width: 480px) {
     .slider-number {
        display: none;
    }

    .slider {
        right: -30%;

        width: 55%;
    }

    .slider::before {
        height: 92%;
        
        width: 114%; 
    }

    .slider li {
        padding-right: 3%;
    }
    .slider h2 {
        margin-left: -80px;
        padding: 28px 1% 14px;
    }
    .slider p {
        padding-bottom: 9px;
    }
    .slider a {
        font-size: 13px;
    }

    .slider a::after {
        top: 5px;
    }

    .slider span::after {
        bottom: -79px;
    }
    .w3-section {
        bottom: 20%;
    }
    .form-btn, 
    .form__btn-submit {
        margin: 40px 39% 80px;
        right: 0;
    }
    .bar {
        width: 49%;
    }
    .bar-text {
        width: 49%;
        left: 11%;
    }

}

@media screen and (max-width: 320px)  {

    .sp__blog-left span {

        top: 6px;
        left: 13%;
        right: 24%;
        bottom: 63px;

    }
    .sp__blog-right span {

        top: 3px;
        left: 11%;
        right: 24%;
        bottom: 63px
    }
    .sp-item span {
        left: 4%;
    }

    .bar-text {
        width: 49%;
        left: 11%;
    }

}











